




<div class="panel panel-primary">
  <div class="panel-heading"></div>

  <div class="panel-body">

    <p>Event Name: <%= @event.name %></p>
    <p>Host: <%= @event.user.email %></p>

    <!-- Main Info -->
    <h4>Main Info</h4>
    <p><%= @event.description %> <%= @event.description%></p>


    <!-- Amenities -->
    <h4>Details</h4>
    <ul class="amenities">
    <li><p>Name: <%= @event.name%></p></li>
    <li><p>Location:<%= @event.location %></p></li>
    <li><p>Price: <%= @event.price %></p></li>
    <li><p>Capacity <%= @event.capacity %></p></li>
    <li><p>Includes Food <%= @event.includes_food %></p></li>
    <li><p>Includes Drinks: <%= @event.includes_drinks %></p></li>
      <li><p>Start Date <%= @event.starts_at %></p></li>
      <li><p>End Date <%= @event.ends_at %></p></li>
      <li><p>Active-status <%= @event.active %></p></li>
    </ul>
<div>
    <h4>Categories</h4>
  <% @categories.each do |category| %>
    <span class="label label-success"><%= category.name %></span>
  <% end %>

  </div>

<%= link_to "Back", events_path, class: "btn btn-default" %>
